<!doctype html>
<html>
  <head>
    <title></title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//select2.github.io/select2/select2-{{ page.version }}/select2.js"></script>
    <link rel="stylesheet" type="text/css" href="//select2.github.io/select2/select2-{{ page.version }}/select2.css"/>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="select2-bootstrap.css"/>
  </head>
  <body style="margin:20px;">

    <h1>Select2 Bootstrap CSS</h1>

    {{ content }}

  </body>
</html>
