.demo {
	padding: 80px 30px 30px;
}

.demo .footer {
  padding-top: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

.home .container {
  max-width: 700px;
}

a:hover,
a:focus {
  text-decoration: none;
}

.jumbotron {
  position: relative;
  color: #999;
  color: rgba(0,0,0,.35);
  text-align: center;
  background-color: #f8f8f8;
  border-radius: 0;
  font-weight: normal;
}

.jumbotron h1 {
  margin-bottom: 15px;
  letter-spacing: -1px;
  color: #999;
}

.jumbotron h2 {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}

.btn-outline {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 18px 24px;
  font-size: inherit;
  color: #aaa;
  background-color: transparent;
  border-color: #ddd;
  transition: all .1s ease-in-out;
}

.btn-outline:hover,
.btn-outline:active {
  color: #f8f8f8;
  background-color: #333;
  border-color: #333;
}

.jumbotron p a,
.jumbotron-links a {
  font-weight: 500;
  color: #000;
  transition: all .1s ease-in-out;
}

.jumbotron-links {
  margin-top: 15px;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  font-size: 14px;
}

.jumbotron-links li {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

.jumbotron hr {
	border-color: #ddd;
	width: 100px;
}

.jumbotron .select2-wrapper {
  font-size: 14px;
  padding: 8px;
  border-radius: 4px;
  display: block;
  width: 320px;
  margin: 0 auto;
  text-align: left;
}

.jumbotron .form-group {
  background: none;
  margin-bottom: 0;
}

.jumbotron .select2-wrapper {
  margin-bottom: 20px;
  transition: all .1s ease-in-out;
}

.jumbotron select,
.jumbotron .select2-container {
  margin-bottom: 16px;
}

.footer {
  text-align: center;
  color: #999;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 60px;
    padding-bottom: 100px;
    font-size: 21px;
  }
  .jumbotron .select2-wrapper {
    margin-bottom: 40px;
  }
  .jumbotron h1 {
    font-size: 50px;
  }
}